{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'pruebastyle.css'%}">
        <script src="{% static 'mi-js.js' %}"></script>
        <title>Bienvenido a la tienda de xiaomi</title>
    </head>
    <body onload="main();">
        <button type="button" id="boton">Click me</button>
        <h1 id="Titulo">Tienda Xiaomi</h1>
        <div class="contenedor">
            <p>Variedad de Productos:</p>
            <ul id="ulcontenedor">
                <li>Teléfonos<li>
                <li>Baterías externas</li>
                <li>Audio</li>
                <li>Dispositivos Inteligentes</li>
                <li>Accesorios</li>
                <li>Relojes</li>
            </ul>
        </div>

        <div class="Tabla">
        <table >
            <tr>
                <th> Visita nuestra tienda en Madrid </th>
            </tr>
        </table>
        </div>
        <div class="Tabla">
        <table>
            <tr>
                <td>Dirección:</td>
                <td>Xanadú (Móstoles)</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>xiaomi@gmail.com</td>
            </tr>

        </table>
        </div>

        </table>
        <div class="Tabla">
        <table>
            <tr><th>Teléfonos/Xiaomi_A1</th>
            </tr>
            <td>
                <img id="Xiaomi_A1" src="/static/images/telefonos/Xiaomi_A1" alt="Xiaomi_A1" onclick="window.open('https://www.mi.com/es/mi-a1/', '_blank'); "></img>
            </td>
        </table>
        </div>
    </body>
</html>
