{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'pruebastyle.css'%}">
        <script src="{% static 'mi-js.js' %}"></script>
        <title>Bienvenido a la tienda de xiaomi</title>
    </head>
    <body onload="main();">
        <button type="button" id="boton">Click me</button>
        <p>Bienvenido {{user}}</p>
        <h1 id="Titulo">Tienda Xiaomi</h1>
        <div class="contenedor">
            <p>Variedad de Productos:</p>
            <ul id="ulcontenedor">
                <li>Teléfonos<li>
                <li>Baterías externas</li>
                <li>Audio</li>
                <li>Dispositivos Inteligentes</li>
                <li>Accesorios</li>
                <li>Relojes</li>
            </ul>
        </div>

        <div class="Tabla">
        <table >
            <tr>
                <th> Visita nuestra tienda en Madrid </th>
            </tr>
        </table>
        </div>
        <div class="Tabla">
        <table>
            <tr>
                <td>Dirección:</td>
                <td>Xanadú (Móstoles)</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>xiaomi@gmail.com</td>
            </tr>

        </table>
        </div>

        </table>
        <div class="Tabla">
        <table>
            <tr><th>Teléfonos</th>
            </tr>
            <td>
                <img id="Xiaomi_A1" src="/static/images/telefonos/Xiaomi_A1" alt="Xiaomi_A1" onclick="window.open('https://www.mi.com/es/mi-a1/', '_blank'); "></img>
                <img id="Xiaomi_A2" src="/static/images/telefonos/Xiaomi_A2" alt="Xiaomi_A2"  onclick="window.open('https://www.mi.com/es/mi-a2/', '_blank'); "></img>

            </td>
        </table>
        </div>
        <div class="Tabla">
        <table>
            <tr><th>Baterías Externas</th></tr>
            <td>
                <img id="Bateria_pequeña" src="/static/images/Baterias/bateria_pequena" alt="Bateria_1" onclick="window.open('https://www.mi.com/es/pb5000/', '_blank'); "></img>
                <img id="Bateria_grande" src="/static/images/Baterias/mucha_capacidad" alt="Bateria_2" onclick="window.open('https://www.mi.com/es/battery2c/', '_blank'); "></img>
            </td>
        </table>
        </div>
        <div class="Tabla">
        <table>
            <tr>
                <th>Audio</th>
            </tr>
            <td>
                <img id="Altavoz2" src="/static/images/Audio/altavoz2" alt="Altavoz_2" onclick="window.open('https://www.mi.com/es/mi-bluetooth-speaker-basic2/', '_blank'); "></img>
                <img id="Altavoz" src="/static/images/Audio/Altavoz" alt="Altavoz_1" onclick="window.open('https://www.mi.com/es/mi-bluetooth-speaker/', '_blank'); "></img>


            </td>
        </table>
        </div>
        <div class="Tabla">
        <table>
            <tr>
                <th>Dispositivos Inteligentes</th>
            </tr>
            <td>
                <img id="Camara" src="/static/images/Dispositivos_inteligentes/camara" alt="camara" onclick="window.open('https://www.mi.com/es/camera-360/', '_blank'); "></img>
                <img id="Patinete" src="/static/images/Dispositivos_inteligentes/Patinete" alt="camara" onclick="window.open('https://www.mi.com/es/mi-electric-scooter/', '_blank'); "></img>

            </td>
        </table>
    </div>
    <div class="Tabla">
        <table>
            <tr>
                <th>Relojes</th>
            </tr>
            <td>
                <img id="Reloj1" src="/static/images/relojes/pace.png" alt="camara" onclick="window.open('https://www.mi.com/es/amazfit-pace/', '_blank'); "></img>

            </td>
        <tr>
            <td>
                <video id = "video" src = "/static/images/video/video_mia1.mp4" preload="auto" controls></video>
            </td>
        </tr>
        </table>
    </div>

    </body>
</html>
